.form-container{
    padding: 10vh;
    
}

.form-container > table{
    margin: 0px auto;
}

.form-container input {
    margin: 5px;
}

.form-btns td{
    text-align: center;
}

input, button{
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    margin: 8px 0;
    padding: 8px;
}
button {
    cursor: pointer;
    width: 100%;
    margin: 8px auto;
}