.recipe-list{
    padding:0;
    width: 50%;
    margin:auto;
}

@media only screen and (max-width: 1200px){
    .recipe-list{
        width:100%;
        padding:0;
    }
}

.recipe-desc{
    overflow: hidden;
    height: 200px;
}

@keyframes hoverItem {
    from{background-color: white;}
    to{background-color: darkgrey;}
}

.recipe-item:hover{
    animation-name: hoverItem;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

th,td :hover{
    /* does not work*/
    animation: hoverItem 1s ease forwards;
}


.recipe-item img{
    margin: 5px;
    width: 300px;
}


@keyframes appearsFromLeft {
    from{transform: translate(-50vw,0);}
    to{transform: translate(0);}
}

@keyframes appearsFromRight {
    from {transform: translate(50vw,0);}
    to {transform: translate(0);}
}